<p class="text-xl pb-8">My Profile</p>
<p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="xlarge" shape="square"
    class="mb-4" />
<h4 class="mb-2">Name : {{currentUserData.name}}</h4>
<h4 class="mb-2">Email : {{currentUserData.email}}</h4>
<div class="flex gap-2 items-center mb-8">
    <h4>Link:</h4>
    <input type="text" [value]="textToCopy"
        class="text-gray-400 overflow-hidden bg-transparent w-full border-none outline-none" readonly>
    <i (click)="copyText()" pTooltip="Copy URL" class="ri-file-copy-line text-xl"></i>
</div>
<div class="flex gap-2">
    <button class="w-full p-2 rounded-3xl">Edit Profile</button>
    @if (currentUserData.role === 'customer') {
        <button class="w-full p-2 rounded-3xl">Upgrade Account</button>
    }
</div>