<p class="text-xl pb-8">My Profile</p>
<img [src]="currentUserData.profilePic || 'https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg'"
    class="h-24 w-24 object-cover mb-4 rounded-full" />
<h4 class="mb-2">Name : {{currentUserData.name}}</h4>
<h4 class="mb-2">Email : {{currentUserData.email}}</h4>
<div class="flex gap-2 items-center mb-8">
    <h4>Link:</h4>
    <input type="text" [value]="textToCopy"
        class="text-gray-400 overflow-hidden bg-transparent w-full border-none outline-none" readonly>
    <i (click)="copyText()" pTooltip="Copy URL" class="ri-file-copy-line text-xl"></i>
</div>
<div class="flex gap-2">
    <button class="w-full p-2 rounded-3xl" (click)="showDialog()">Edit Profile</button>
    <!-- dialog for profile editor -->
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible"
        [style]="{ width: '50rem', backgroundColor: '#1a1a1a', border: 'none' }">
        <div class="relative h-60">
            <div (click)="coverPic.click()" class="cursor-pointer">
                <img [src]="userDetails.coverPic || 'https://www.mar-su.com.tr/assets/img/gallery/placeholder-banner_74335.png'"
                    alt="" class="w-full h-40 rounded-t-3xl border object-cover">
                <input name="coverPic" accept="image/*" placeholder="Enter Image URL" type="file"
                    (change)="onInputChange($event, 'coverPic')" hidden #coverPic>
            </div>
            <div class="absolute left-8 top-16 cursor-pointer" (click)="profilePic.click()">
                <img [src]="userDetails.profilePic || 'https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg'" alt=""
                    class="w-40 h-40 rounded-full border object-cover">
                <input name="profilePic" accept="image/*" placeholder="Enter Image URL" type="file"
                    (change)="onInputChange($event, 'profilePic')" hidden #profilePic>
            </div>
        </div>
        <form class="flex flex-col gap-2" action="">
            <div class="flex gap-2">
                <input name="username" [(ngModel)]="userDetails.name" class="p-2 w-full rounded-lg bg-neutral-800 text-white border-none outline-none"
                    type="text" placeholder="Name">
                <!-- radio for gender -->
                <div class="relative max-w-sm flex w-full flex-col rounded-xl bg-neutral-800">
                    <nav class="flex min-w-[240px] flex-row gap-1 p-2 rounded-lg bg-neutral-800">
                        <div role="button"
                            class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-neutral-700 focus:bg-neutral-700 active:bg-neutral-700">
                            <label class="flex w-full cursor-pointer items-center px-3 py-2">
                                <div class="inline-flex items-center">
                                    <label class="relative flex items-center cursor-pointer">
                                        <input [(ngModel)]="userDetails.gender" name="gender" type="radio" value="Male"
                                            class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all"
                                            checked />
                                        <span
                                            class="absolute bg-neutral-600 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
                                    </label>
                                    <label class="ml-2 text-neutral-600 cursor-pointer text-sm">
                                        Male
                                    </label>
                                </div>
                            </label>
                        </div>
                        <div role="button"
                            class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-neutral-700 focus:bg-neutral-700 active:bg-neutral-700">
                            <label class="flex w-full cursor-pointer items-center px-3 py-2">
                                <div class="inline-flex items-center">
                                    <label class="relative flex items-center cursor-pointer">
                                        <input [(ngModel)]="userDetails.gender" name="gender" type="radio" value="Female"
                                            class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all"
                                            checked />
                                        <span
                                            class="absolute bg-neutral-600 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
                                    </label>
                                    <label class="ml-2 text-neutral-600 cursor-pointer text-sm">
                                        Female
                                    </label>
                                </div>
                            </label>
                        </div>
                        <div role="button"
                            class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-neutral-700 focus:bg-neutral-700 active:bg-neutral-700">
                            <label class="flex w-full cursor-pointer items-center px-3 py-2">
                                <div class="inline-flex items-center">
                                    <label class="relative flex items-center cursor-pointer">
                                        <input [(ngModel)]="userDetails.gender" name="gender" type="radio" value="Other"
                                            class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all"
                                            checked />
                                        <span
                                            class="absolute bg-neutral-600 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
                                    </label>
                                    <label class="ml-2 text-neutral-600 cursor-pointer text-sm">
                                        Other
                                    </label>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </div>
            <textarea [(ngModel)]="userDetails.bio" name="bio" rows="4"
                class="p-2 w-full rounded-lg bg-neutral-800 text-white border-none outline-none" type="text"
                placeholder="Bio"></textarea>
            <input [(ngModel)]="userDetails.phoneNumber" name="phoneNumber" class="p-2 w-full rounded-lg bg-neutral-800 text-white border-none outline-none"
                type="text" placeholder="Phone">
        </form>
        <button class="w-full rounded-3xl mt-4 p-2" (click)="updateProfile()">Save Profile</button>
    </p-dialog>
    @if (currentUserData.role === 'customer') {
    <button class="w-full p-2 rounded-3xl">Upgrade Account</button>
    }
</div>