<p class="text-xl pb-8">My Profile</p>
<img [src]="currentUserData.profilePic || 'https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg'"
    class="h-24 w-24 object-cover mb-4 rounded-full" />
<h4 class="mb-2">Name : {{currentUserData.name}}</h4>
<h4 class="mb-2">Email : {{currentUserData.email}}</h4>
<div class="flex gap-2 items-center mb-8">
    <h4>Link:</h4>
    <input type="text" [value]="textToCopy"
        class="text-gray-400 overflow-hidden bg-transparent w-full border-none outline-none" readonly>
    <i (click)="copyText()" pTooltip="Copy URL" class="ri-file-copy-line text-xl"></i>
</div>
<div class="flex gap-2">
    <button class="w-full p-2 rounded-3xl" (click)="showDialog()">Edit Profile</button>
    <!-- dialog for profile editor -->
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible"
        [style]="{ width: '50rem', backgroundColor: '#1a1a1a', border: 'none' }">
        <div class="relative h-60">
            <div (click)="coverPic.click()" class="cursor-pointer">
                <img [src]="userDetails.coverPic || 'https://www.mar-su.com.tr/assets/img/gallery/placeholder-banner_74335.png'"
                    alt="" class="w-full h-40 rounded-t-3xl border object-cover">
                <input name="coverPic" accept="image/*" placeholder="Enter Image URL" type="file"
                    (change)="onInputChange($event, 'coverPic')" hidden #coverPic>
            </div>
            <div class="absolute left-8 top-16 cursor-pointer" (click)="profilePic.click()">
                <img [src]="userDetails.profilePic || 'https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg'"
                    alt="" class="w-40 h-40 rounded-full border object-cover">
                <input name="profilePic" accept="image/*" placeholder="Enter Image URL" type="file"
                    (change)="onInputChange($event, 'profilePic')" hidden #profilePic>
            </div>
        </div>
        <form class="flex flex-col gap-2" action="">
            <div class="flex gap-2">
                <input name="username" [(ngModel)]="userDetails.name"
                    class="p-2 w-full rounded-lg bg-neutral-800 text-white border-none outline-none" type="text"
                    placeholder="Name">
                <!-- radio for gender -->
                <div class="relative max-w-sm flex w-full flex-col rounded-xl bg-neutral-800">
                    <nav class="flex min-w-[240px] flex-row gap-1 p-2 rounded-lg bg-neutral-800">
                        <div role="button"
                            class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-neutral-700 focus:bg-neutral-700 active:bg-neutral-700">
                            <label class="flex w-full cursor-pointer items-center px-3 py-2">
                                <div class="inline-flex items-center">
                                    <label class="relative flex items-center cursor-pointer">
                                        <input [(ngModel)]="userDetails.gender" name="gender" type="radio" value="Male"
                                            class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all"
                                            checked />
                                        <span
                                            class="absolute bg-neutral-600 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
                                    </label>
                                    <label class="ml-2 text-neutral-600 cursor-pointer text-sm">
                                        Male
                                    </label>
                                </div>
                            </label>
                        </div>
                        <div role="button"
                            class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-neutral-700 focus:bg-neutral-700 active:bg-neutral-700">
                            <label class="flex w-full cursor-pointer items-center px-3 py-2">
                                <div class="inline-flex items-center">
                                    <label class="relative flex items-center cursor-pointer">
                                        <input [(ngModel)]="userDetails.gender" name="gender" type="radio"
                                            value="Female"
                                            class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all"
                                            checked />
                                        <span
                                            class="absolute bg-neutral-600 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
                                    </label>
                                    <label class="ml-2 text-neutral-600 cursor-pointer text-sm">
                                        Female
                                    </label>
                                </div>
                            </label>
                        </div>
                        <div role="button"
                            class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-neutral-700 focus:bg-neutral-700 active:bg-neutral-700">
                            <label class="flex w-full cursor-pointer items-center px-3 py-2">
                                <div class="inline-flex items-center">
                                    <label class="relative flex items-center cursor-pointer">
                                        <input [(ngModel)]="userDetails.gender" name="gender" type="radio" value="Other"
                                            class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all"
                                            checked />
                                        <span
                                            class="absolute bg-neutral-600 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
                                    </label>
                                    <label class="ml-2 text-neutral-600 cursor-pointer text-sm">
                                        Other
                                    </label>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </div>
            <textarea [(ngModel)]="userDetails.bio" name="bio" rows="4"
                class="p-2 w-full rounded-lg bg-neutral-800 text-white border-none outline-none" type="text"
                placeholder="Bio"></textarea>
            <div class="gap-2 flex items-center">
                <input [(ngModel)]="userDetails.phoneNumber" name="phoneNumber"
                    class="p-2 w-full rounded-lg bg-neutral-800 text-white border-none outline-none" type="text"
                    placeholder="Phone">
                <input [(ngModel)]="userDetails.location" name="location"
                    class="p-2 w-full rounded-lg bg-neutral-800 text-white border-none outline-none" type="text"
                    placeholder="Location">
            </div>
        </form>
        <button class="w-full rounded-3xl mt-4 p-2" (click)="updateProfile()">Save Profile</button>
    </p-dialog>
    @if (currentUserData.role === 'customer') {
    <button class="w-full p-2 rounded-3xl" (click)="showUpgradeDialog()">Upgrade</button>
    <p-dialog header="Upgrade your account" [modal]="true" [(visible)]="isUpgradeOpen"
        [style]="{ width: '44rem', backgroundColor: '#1a1a1a', border: 'none' }">
        <p>Sent Request to Admin for upgrade your account</p>
        <div class="flex gap-8 p-4">
            <div class="w-1/2">
                <label
                    class="border border-neutral-700 flex flex-col items-center justify-center p-4 rounded-3xl cursor-pointer has-[:checked]:bg-neutral-800 has-[:checked]:border-orange-600 has-[:checked]:ring-neutral-700 hover:bg-neutral-800 transition-all duration-300 has-[:checked]:rotate-0 hover:-rotate-2">
                    <img src="https://static.vecteezy.com/system/resources/previews/052/455/813/non_2x/a-person-is-on-a-document-icon-free-vector.jpg"
                        alt="" class="w-40 h-40 rounded-full">
                    <h1 class="text-xl mt-4 mb-2 uppercase">To Employer</h1>
                    <p class="text-xs text-justify">Becoming an employer on Artogram unlocks exclusive features,
                        including
                        job management, employee hiring, in-depth insights, and more, empowering you to streamline
                        your
                        recruitment process and grow your team effectively.</p>
                    <input [(ngModel)]="selectedRole" type="radio" value="employer" name="account" class="checked:border-slate-500" hidden />
                </label>
            </div>
            <div class="w-1/2">
                <label
                    class="border border-neutral-700 flex flex-col items-center justify-center p-4 rounded-3xl cursor-pointer has-[:checked]:bg-neutral-800 has-[:checked]:border-orange-600 has-[:checked]:ring-neutral-700 hover:bg-neutral-800 transition-all duration-300 has-[:checked]:rotate-0 hover:rotate-2">
                    <img src="https://static.vecteezy.com/system/resources/previews/054/260/804/non_2x/a-man-with-a-paintbrush-and-a-paintbrush-icon-free-vector.jpg"
                        alt="" class="w-40 h-40 rounded-full">
                    <h1 class="text-xl mt-4 mb-2 uppercase">To Artist</h1>
                    <p class="text-xs text-justify">Becoming an artist on Artogram unlocks exclusive features, including
                        artwork management, art sales, job applications, and more, empowering
                        you to showcase your talent, connect with opportunities, and grow your artistic career
                        effectively.
                    </p>
                    <input [(ngModel)]="selectedRole" type="radio" value="artist" name="account" class="checked:border-slate-500" hidden />
                </label>
            </div>
        </div>
        <div class="px-4 py-2 flex items-center justify-center">
            <button class="p-2 w-40 rounded-3xl" (click)="upgradeRole()">Sent Request</button>
        </div>
    </p-dialog>
    }
</div>