<div class="m-8 p-4">
    <p class="text-xl mb-4">Products List</p>
    <div class="grid lg:grid-cols-4">
        @for (product of products; track $index) {
            <div class="card rounded-lg overflow-hidden m-8 cursor-pointer">
                <div class="card-img-top">
                    <img class="w-full h-[250px] object-cover"
                        [src]="product.img" alt="">
                </div>
                <div class="secondary-bg p-4">
                    <div class="flex justify-between items-center mb-1">
                        <h1 class="text-xl">{{product.name}}</h1>
                        <p class="text-xs py-1 px-2 rounded-3xl !text-white border border-orange-500">{{product.category}}</p>
                    </div>
                    <div class="flex justify-between items-center">
                        <p class="text-[11px]">ID: {{product._id}}</p>
                        <h6>{{product.price | currency: 'INR'}}</h6>
                    </div>
                    <div class="flex items-center gap-4 w-full mt-4">
                        <button class="w-full rounded-3xl">Edit</button>
                        <button class="w-full rounded-3xl">Delete</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>