<nav class="flex justify-center items-center gap-12 p-8 mb-4 rounded-b-3xl">
    <div class="text-2xl flex gap-12">
        <i class="ri-question-line cursor-pointer transition-all duration-300"></i>
        <i routerLink="/home" class="ri-home-4-line cursor-pointer transition-all duration-300"></i>
    </div>
    <h1 class="text-4xl font-bold cursor-pointer transition-all duration-300">Art<span>O</span>gram</h1>
    <div class="text-2xl flex gap-12">
        <i class="ri-user-3-line cursor-pointer transition-all duration-300"></i>
        <i class="ri-notification-3-line cursor-pointer transition-all duration-300"></i>
    </div>
</nav>