<div class="flex items-center justify-center m-8">
    <div class="w-full p-4 secondary-bg rounded-3xl h-[400px] overflow-y-auto">
        <h1 class="text-lg text-zinc-300 pb-4 text-center">Manage Profiles</h1>
        <table class="table-fixed w-full text-center">
            <thead>
                <tr class="text-white">
                    <th>UID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-white">
                <tr>
                    <td>24624658723894732</td>
                    <td>Habeeb</td>
                    <td>habgmail.com</td>
                    <td>Admin</td>
                    <td class="flex justify-center gap-4 my-1">
                        <button class="px-4 rounded-3xl">Edit</button>
                        <button class="px-4 rounded-3xl">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>