<div class="m-8 secondary-bg p-4 rounded-3xl">
    <div class="flex justify-between items-center mb-2">
        <p class="text-xl ">Manage Jobs</p>
        <button class="rounded-full px-3 py-2" (click)="showDialog()">
            <i class="ri-add-line !text-white hover:!text-white text-xl"></i>
        </button>
    </div>
    <!-- create job oppertunity dialog -->
    <p-dialog header="Post New Job Oppertunities" [modal]="true" maximizable="true" [(visible)]="visible"
        [style]="{ width: '50rem', backgroundColor: '#1a1a1a', border: 'none' }">
        <form action="">
            <div class="flex gap-4 w-full">
                <div class="mb-2  w-full">
                    <label class="text-sm" cla for="title">Title of Job</label>
                    <input [(ngModel)]="job.title" name="name"
                        class="mt-1 w-full p-2 rounded-xl bg-neutral-800 text-white" id="title" autocomplete="off" />
                </div>
                <div class="mb-2 w-full">
                    <label class="text-sm" for="companyName">Name of the Company</label>
                    <input [(ngModel)]="job.companyName" name="companyName"
                        class="mt-1 w-full p-2 rounded-xl bg-neutral-800 text-white" id="companyName"
                        autocomplete="off" />
                </div>
            </div>
            <div class="mb-2 w-full">
                <label class="text-sm" for="description">Job Description</label>
                <textarea [(ngModel)]="job.description" rows="5" name="description"
                    class="mt-1 w-full p-2 rounded-xl bg-neutral-800 text-white" style="resize: none;" id="description"
                    autocomplete="off"></textarea>
            </div>
            <div class="flex gap-4 w-full">
                <div class="mb-2 w-full">
                    <label class="text-sm" for="jobType">Job Type</label>
                    <select [(ngModel)]="job.jobType" name="jobType"
                        class="mt-1 w-full rounded-xl bg-neutral-800 text-white border-none p-2" id="jobType">
                        <option *ngFor="let jobType of jobTypes" [value]="jobType">{{ jobType }}</option>
                    </select>
                </div>
                <div class="mb-2 w-full">
                    <label class="text-sm" for="category">Category</label>
                    <select [(ngModel)]="job.category" name="category"
                        class="mt-1 w-full rounded-xl bg-neutral-800 text-white border-none p-2" id="category">
                        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                    </select>
                </div>
                <div class="mb-2 w-full">
                    <label class="text-sm" for="location">Location</label>
                    <input [(ngModel)]="job.location" name="location"
                        class="mt-1 w-full p-2 rounded-xl bg-neutral-800 text-white" id="location" autocomplete="off" />
                </div>
            </div>
            <div class="flex gap-4 w-full">
                <div class="mb-2 w-full">
                    <label class="text-sm" for="salary">Salary Range</label>
                    <input [(ngModel)]="job.salary" name="salary"
                        class="mt-1 w-full p-2 rounded-xl bg-neutral-800 text-white" id="salary" autocomplete="off" />
                </div>
                <div class="mb-2 w-full">
                    <label class="text-sm" for="opennings">Number of Opennings</label>
                    <input [(ngModel)]="job.numberOfOpening" name="opennings"
                        class="mt-1 w-full p-2 rounded-xl bg-neutral-800 text-white" id="opennings"
                        autocomplete="off" />
                </div>
            </div>
            <button class="p-2 w-full rounded-3xl mt-4" (click)="createJob()">Post Now</button>
        </form>
    </p-dialog>
    <!-- display posted jobs -->
    <div class="h-[400px] overflow-y-auto scrollbar">
        <table class="table-fixed w-full text-center border-separate border-spacing-y-2">
            <thead class="text-zinc-100">
                <tr>
                    <th class="p-2">Job Title</th>
                    <th class="p-2">Company</th>
                    <th class="p-2">Location</th>
                    <th class="p-2">Salary</th>
                    <th class="p-2">Posted On</th>
                    <th class="p-2">Status</th>
                    <th class="p-2">Action</th>
                </tr>
            </thead>
            <tbody class="text-white">
                @if (isLoading) {
                <tr *ngFor="let row of laoderRows" class="animate-pulse">
                    <td class="p-2">
                        <div class="bg-neutral-700 h-4 w-full rounded-3xl"></div>
                    </td>
                    <td class="p-2">
                        <div class="bg-neutral-700 h-4 w-full rounded-3xl"></div>
                    </td>
                    <td class="p-2">
                        <div class="bg-neutral-700 h-4 w-full rounded-3xl"></div>
                    </td>
                    <td class="p-2">
                        <div class="bg-neutral-700 h-4 w-full rounded-3xl"></div>
                    </td>
                    <td class="p-2">
                        <div class="bg-neutral-700 h-4 w-full rounded-3xl"></div>
                    </td>
                    <td class="p-2">
                        <div class="bg-neutral-700 h-4 w-full rounded-3xl"></div>
                    </td>
                    <td class="p-2">
                        <div class="bg-neutral-700 h-4 w-full rounded-3xl"></div>
                    </td>
                </tr>
                }
                @for (job of jobList; track $index) {
                <tr>
                    <td class="p-2">{{job.title}}</td>
                    <td class="p-2">{{job.companyName}}</td>
                    <td class="p-2">{{job.location}}</td>
                    <td class="p-2">{{job.salary | currency: 'INR'}}</td>
                    <td class="p-2">{{job.postedDate | date: 'mediumDate'}}</td>
                    <td [ngClass]="job.status === 'Open'? 'text-green-500':'text-red-500'" class="p-2 ">{{job.status}}
                    </td>
                    <td class="flex justify-center items-center py-2 pr-2 gap-4">
                        @if (job.status === 'Open') {
                        <button (click)="closeJob(job._id)" class="w-full rounded-3xl">Close</button>
                        } @else {
                        <button (click)="deleteJob(job._id)" class="w-full rounded-3xl">Delete</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>