<div class="flex m-8 gap-4">
    <div class="w-1/4 secondary-bg p-4 rounded-3xl">
        <p class="text-lg text-center mb-2">User Logs</p>
        <table class="table-fixed w-full text-center">
            <thead class="text-white">
                <tr>
                    <th>User ID</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody class="text-zinc-200">
                <tr>
                    <td>24624658723894732</td>
                    <td>12:00 - 14:00</td>
                </tr>
                <tr>
                    <td>24624658723894732</td>
                    <td>12:00 - 14:00</td>
                </tr>
                <tr>
                    <td>24624658723894732</td>
                    <td>12:00 - 14:00</td>
                </tr>
                <tr>
                    <td>24624658723894732</td>
                    <td>12:00 - 14:00</td>
                </tr>
                <tr>
                    <td>24624658723894732</td>
                    <td>12:00 - 14:00</td>
                </tr>
                <tr>
                    <td>24624658723894732</td>
                    <td>12:00 - 14:00</td>
                </tr>
                <tr>
                    <td>24624658723894732</td>
                    <td>12:00 - 14:00</td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center items-center gap-1 hover:gap-2 cursor-pointer transition-all duration-300 mt-4">
            <span>View More</span>
            <i class="ri-arrow-right-line"></i>
        </div>
    </div>
    <div class="w-2/4">
        <div class="w-full h-40 secondary-bg p-4 rounded-3xl flex justify-center items-center flex-col gap-2 mb-4 cursor-pointer">
            <i class="ri-line-chart-line text-3xl"></i>
            <h1 class="text-2xl">Analytics</h1>
        </div>
        <div class="flex gap-4">
            <div class="w-1/2 secondary-bg p-4 rounded-3xl flex justify-center items-center flex-col gap-2 h-40 cursor-pointer">
                <i class="ri-notification-3-line text-3xl"></i>
                <h1 class="text-2xl">Notifications</h1>
            </div>
            <div class="w-1/2 secondary-bg p-4 rounded-3xl flex justify-center items-center flex-col gap-2 h-40 cursor-pointer">
                <i class="ri-spam-line text-3xl"></i>
                <h1 class="text-2xl">Reports</h1>
            </div>
        </div>
    </div>
    <div class="w-1/4 secondary-bg p-4 rounded-3xl">
        <p class="text-lg text-center mb-2">Orders & Payments</p>
        <table class="table-fixed w-full text-center">
            <thead class="text-white">
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="text-zinc-200">
                <tr>
                    <td>83458972489349</td>
                    <td>DELIVERED</td>
                </tr>
                <tr>
                    <td>83458972489349</td>
                    <td>IN-TRASIST</td>
                </tr>
                <tr>
                    <td>83458972489349</td>
                    <td>SHIPPED</td>
                </tr>
                <tr>
                    <td>83458972489349</td>
                    <td>OUT FOR DELIVERY</td>
                </tr>
                <tr>
                    <td>83458972489349</td>
                    <td>IN-TRASIST</td>
                </tr>
                <tr>
                    <td>83458972489349</td>
                    <td>SHIPPED</td>
                </tr>
                <tr>
                    <td>83458972489349</td>
                    <td>SHIPPED</td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center items-center gap-1 hover:gap-2 cursor-pointer transition-all duration-300 mt-4">
            <span>View More</span>
            <i class="ri-arrow-right-line"></i>
        </div>
    </div>
</div>