<div class="flex m-8 gap-4">
    <div class="w-1/4 secondary-bg p-4 rounded-3xl h-[340px] overflow-y-auto scrollbar">
        <p class="text-lg text-center mb-2">User Logs</p>
        <table class="table-fixed w-full text-center">
            <thead class="text-white">
                <tr>
                    <th>User ID</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody class="text-zinc-200">
                @for (user of userList; track $index) {
                    <tr>
                        <td class="overflow-hidden">{{user._id}}</td>
                        <td>{{user.createdAt | date: 'shortTime'}}</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
    <div class="w-2/4">
        <div
            class="w-full h-40 secondary-bg p-4 rounded-3xl flex justify-center items-center flex-col gap-2 mb-4 cursor-pointer">
            <i class="ri-line-chart-line text-3xl"></i>
            <h1 class="text-2xl">Analytics</h1>
        </div>
        <div class="flex gap-4">
            <div
                class="w-1/2 secondary-bg p-4 rounded-3xl flex justify-center items-center flex-col gap-2 h-40 cursor-pointer">
                <i class="ri-notification-3-line text-3xl"></i>
                <h1 class="text-2xl">Notifications</h1>
            </div>
            <div
                class="w-1/2 secondary-bg p-4 rounded-3xl flex justify-center items-center flex-col gap-2 h-40 cursor-pointer">
                <i class="ri-spam-line text-3xl"></i>
                <h1 class="text-2xl">Reports</h1>
            </div>
        </div>
    </div>
    <div class="w-1/4 secondary-bg p-4 rounded-3xl h-[340px] overflow-y-auto scrollbar">
        <p class="text-lg text-center mb-2">Orders & Payments</p>
        <table class="table-fixed w-full text-center">
            <thead class="text-white">
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="text-zinc-200">
                @for (order of orderList; track $index) {
                    <tr>
                        <td class="overflow-hidden">{{order._id}}</td>
                        @if (order.status === 'Placed') {
                            <td class="text-red-500">Pending</td>
                        } @else {
                            <td class="text-green-500">Paid</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>