<div class="m-8">
    <div class="flex gap-4 mb-4">
        <div class="secondary-bg p-4 w-full rounded-3xl flex flex-col items-center justify-center gap-1 h-44 cursor-pointer hover:gap-3 transition-all duration-300">
            <i class="ri-multi-image-line text-4xl"></i>
            <h1 class="text-2xl">All Products</h1>
        </div>
        <div class="secondary-bg p-4 w-full rounded-3xl flex flex-col items-center justify-center gap-1 h-44 cursor-pointer hover:gap-3 transition-all duration-300">
            <i class="ri-image-add-line text-4xl"></i>
            <h1 class="text-2xl">Upload Products</h1>
        </div>
    </div>
    <div class="secondary-bg p-4 w-full rounded-3xl flex flex-col items-center justify-center gap-1 h-44 cursor-pointer hover:gap-3 transition-all duration-300">
        <i class="ri-file-list-3-line text-4xl"></i>
        <h1 class="text-2xl">Orders & Payment</h1>
    </div>
</div>