<div class="flex gap-8 secondary-bg rounded-3xl m-8 p-4 h-[500px]">
    <div class="w-full overflow-y-auto scrollbar">
        <p class="text-xl">My Wishlist</p>
        @if (wishlist.length === 0) {
            <div class="flex items-center justify-center h-80"><p class="text-2xl">No Wishlists</p></div>
        }
        @for (item of wishlist; track $index) {
        <div class="flex items-center justify-between my-4 hover:bg-neutral-800 rounded-3xl p-4 mr-4 cursor-pointer">
            <div class="flex gap-4 w-2/3 items-center" (click)="viewProduct(item._id)">
                <div class="relative group" (click)="deleteWishlist(item._id)">
                    <img [src]="item.img"
                        class="h-40 w-40 object-cover rounded-lg bg-black transition-all duration-300 cursor-pointer">
                </div>
                <div class="flex flex-col">
                    <h1 class="text-xl">{{item.name}}</h1>
                    <p class="text-lg">{{item.category}}</p>
                </div>
            </div>
            <div class="relative group">
                <h1 class="text-xl group-hover:hidden">
                    {{ item.price | currency: 'INR' }}
                </h1>
                <button class="absolute inset-0 items-center justify-center hidden group-hover:flex"
                    (click)="deleteWishlist(item._id)">
                    <i class="ri-delete-bin-6-line mx-4 text-3xl cursor-pointer !text-red-700"></i>
                </button>
            </div>
        </div>
        }
    </div>
</div>