<div class="flex p-8 m-8 w-8/12 mx-auto secondary-bg rounded-3xl gap-8 h-80">
    <div class="flex-1">
        <div class="text-center mb-8 flex flex-col justify-center items-center h-full">
            <h2 class="text-2xl font-bold mb-2">Register your acc<span class="o-span">O</span>unt!</h2>
            <p class="text-sm text-gray-600">Join our community and share your art with the world. And showcase your
                creativity.</p>
            </div>
        </div>
        <div class="flex-1">
            <form>
                <p-floatlabel class="mb-8">
                    <input [(ngModel)]="name" name="name" class="w-full" pInputText id="over_label" autocomplete="off" />
                    <label for="over_label">Name</label>
                </p-floatlabel>
            <p-floatlabel class="mb-8">
                <input [(ngModel)]="email" name="email" class="w-full" pInputText id="over_label" autocomplete="off" />
                <label for="over_label">Email</label>
            </p-floatlabel>
            <p-floatlabel class="mb-6">
                <p-password [(ngModel)]="password" name="password" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" [toggleMask]="true" class="w-full" id="over_label"
                    autocomplete="off" />
                    <label for="over_label">Password</label>
                </p-floatlabel>
                <div class="flex justify-end gap-4">
                    <button routerLink="/login"
                    class="py-2 px-12 w-full rounded-3xl bg-transparent border-orange-400 border-2 text-orange-400">Login</button>
                    <button (click)="register()" routerLink="/register"
                    class="py-2 px-12 w-full rounded-3xl">Register</button>
                </div>
            </form>
        </div>
    </div>
    <p-toast/>