<div class="flex gap-4 items-center justify-center m-8">
    <div class="w-8/12 p-4 secondary-bg rounded-3xl h-[400px] overflow-y-auto scrollbar">
        <p class="text-lg pb-4 text-center">Manage Profiles</p>
        <table class="table-fixed w-full text-center">
            <thead>
                <tr class="text-white">
                    <th class="p-2">Name</th>
                    <th class="p-2">Email</th>
                    <th class="p-2">Role</th>
                    <th class="p-2">Action</th>
                </tr>
            </thead>
            <tbody class="text-white">
                <!-- loader for table -->
                @if (isLoading) {
                <tr *ngFor="let row of loaderRows">
                    <td class="p-2">
                        <div class="animate-pulse h-5 rounded-lg mb-2 w-full bg-neutral-700 text-sm"></div>
                    </td>
                    <td class="p-2">
                        <div class="animate-pulse h-5 rounded-lg mb-2 w-full bg-neutral-700 text-sm"></div>
                    </td>
                    <td class="p-2">
                        <div class="animate-pulse h-5 rounded-lg mb-2 w-full bg-neutral-700 text-sm"></div>
                    </td>
                    <td class="p-2">
                        <div class="animate-pulse h-5 rounded-lg mb-2 w-full bg-neutral-700 text-sm"></div>
                    </td>
                </tr>
                }
                @for (user of userList; track $index) {
                <tr>
                    <td class="p-2">{{user.name | titlecase}}</td>
                    <td class="p-2">{{user.email}}</td>
                    <td class="p-2">{{user.role | uppercase}}</td>
                    <td class="flex justify-center gap-4 my-1">
                        <button class="px-4 rounded-3xl">Message</button>
                        <button class="px-4 rounded-3xl" (click)="op.toggle($event)">View</button>
                        <p-popover #op>
                            <div class="p-4">
                                <div class="flex gap-8 items-center pb-2">
                                    <img [src]="user.profilePic || 'https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg'"
                                        class="w-20 h-20 object-cover rounded-full">
                                    <div>
                                        <h1 class="text-neutral-900 text-lg">{{user.name | uppercase}}</h1>
                                        <h2 class="text-neutral-700 text-sm">{{user.role | titlecase}}</h2>
                                    </div>
                                </div>
                                <div class="flex gap-8">
                                    <div class="flex gap-4 flex-col items-center">
                                        <h1 class="text-neutral-800 text-sm">Email: {{user.email}}</h1>
                                        <h2 class="text-neutral-800 text-sm">Phone: {{user.phoneNumber ||
                                            'Unavailable'}}</h2>
                                    </div>
                                    <div class="flex gap-4 flex-col items-center">
                                        <h1 class="text-neutral-800 text-sm">Location: {{user.location ||
                                            'Unavailable'}}</h1>
                                        <h2 class="text-neutral-800 text-sm">Signed: {{user.createdAt | date:
                                            'mediumDate'}}</h2>
                                    </div>
                                </div>
                            </div>
                        </p-popover>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="w-4/12 p-4 secondary-bg rounded-3xl h-[400px] overflow-y-auto scrollbar">
        <p class="text-lg pb-4 text-center">Upgrade Request</p>
        @if (upgradeRoleReqList.length === 0) {
        <div class="pt-32 text-lg flex items-center justify-center">
            <p>No Requests</p>
        </div>
        } @else if (isLoading) {
        <div class="flex flex-col w-full">
            <div class="h-5 rounded-lg mb-4 w-full bg-neutral-700 text-lg"></div>
            <div class="h-5 rounded-lg mb-4 w-full bg-neutral-700 text-sm"></div>
            <div class="h-5 rounded-lg mb-4 w-full bg-neutral-700 text-sm"></div>
            <div class="h-5 rounded-lg mb-4 w-full bg-neutral-700 text-lg"></div>
            <div class="h-5 rounded-lg mb-4 w-full bg-neutral-700 text-sm"></div>
            <div class="h-5 rounded-lg mb-4 w-full bg-neutral-700 text-sm"></div>
        </div>
        }
        @for (upgradeRoleReq of upgradeRoleReqList; track $index) {
        <div class="bg-neutral-800 flex items-center justify-between rounded-3xl mb-2 p-4">
            <h1 class="text-sm">{{upgradeRoleReq.user.email}}</h1>
            <span class="text-sm">{{upgradeRoleReq.newRole | uppercase}}</span>
            <div class="flex gap-2">
                <button (click)="rejectUpgradeRole(upgradeRoleReq._id)"
                    class="text-sm bg-transparent border border-orange-500 hover:border-red-500 transition-all duration-300 py-1 px-3 rounded-3xl">Reject</button>
                <button (click)="upgradeRoleRes(upgradeRoleReq)"
                    class="text-sm bg-transparent border border-orange-500 hover:border-green-500 transition-all duration-300 py-1 px-3 rounded-3xl">Accept</button>
            </div>
        </div>
        }
    </div>
</div>