<!-- Selected Product Details -->
<div class="m-8 p-4 secondary-bg rounded-3xl flex items-center gap-8">
    <img class="w-2/5 h-[400px] rounded-3xl object-cover" [src]="product.img" alt="">
    <div class="w-3/5">
        <div class="flex justify-between items-center mb-4">
            <div>
                <h1 class="text-2xl font-bold">{{product.name}}</h1>
                <p class="text-sm">{{product.category}}</p>
            </div>
            <div class="flex items-center">
                <i class="ri-heart-line text-3xl px-4 cursor-pointer duration-300 transition-all"
                    (click)="addWishlist(product._id)"></i>
                <i class="ri-shopping-cart-2-line text-3xl px-4 cursor-pointer duration-300 transition-all"
                    routerLink="/my-cart"></i>
            </div>
        </div>
        <div class="mb-8">
            <h6>Description</h6>
            <p class="text-sm">{{product.desc}}</p>
        </div>
        <div class="mb-8">
            <h5 class="text-3xl">{{product.price | currency: 'INR'}}</h5>
            <p class="text-xs">MRP inclusive for all taxes</p>
        </div>
        <button class="btn-primary w-full p-2 rounded-3xl" (click)="addCart(product._id)">Add to Cart</button>
    </div>
</div>
<!-- Created Artist Details -->
<div class="p-4 secondary-bg rounded-3xl flex items-center justify-between gap-8 m-8">
    <div class="flex items-center gap-4">
        <img class="w-16 h-16 rounded-full object-cover"
            [src]="product.createdBy?.profilePic || 'https://cdn-icons-png.flaticon.com/512/6858/6858504.png'" alt="">
        <div>
            <h6 class="text-lg">{{product.createdBy?.name}}</h6>
            <p class="text-sm">{{product.category}}</p>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <button class="py-2 w-36 rounded-3xl border-2 border-orange-500 bg-transparent text-orange-500">Connect</button>
        <button class="py-2 w-36 rounded-3xl" (click)="viewArtist(product.createdBy?._id)">View</button>
    </div>
</div>
<!-- Suggested Posts -->
<div class="rounded-3xl m-8 mt-12">
    <p class="text-center text-3xl">Suggested Posts</p>
    @if (suggestedProductList.length === 0) {
    <div class="flex items-center justify-center h-72">
        <h1 class="text-lg">Suggested Posts are Unavailable</h1>
    </div>
    }
    <div class="flex overflow-x-auto scrollbar">
        @for (suggestedProduct of suggestedProductList; track $index) {
        <div (click)="viewProduct(suggestedProduct._id)"
            class="card rounded-lg m-8 cursor-pointer flex-shrink-0 w-[300px]">
            <img class="w-full h-[250px] object-cover rounded-t-3xl" [src]="suggestedProduct.img" alt="">
            <div class="flex justify-between items-center rounded-b-3xl bg-neutral-800 p-4">
                <div class="flex flex-col">
                    <h1 class="text-xl">{{suggestedProduct.name}}</h1>
                    <p class="text-sm">{{suggestedProduct.createdBy?.name}}</p>
                </div>
                <h6 class="text-xl">{{suggestedProduct.price | currency: 'INR'}}</h6>
            </div>
        </div>
        }
    </div>
</div>
<!-- Popular Posts -->
<div class="rounded-3xl m-8">
    <p class="text-3xl text-center">Popular Posts</p>
    @if (popularProductList.length === 0) {
    <div class="flex items-center justify-center h-72">
        <h1 class="text-lg">Popular Posts are Unavailable</h1>
    </div>
    }
    <div class="flex overflow-x-auto scrollbar">
        @for (popularProduct of popularProductList; track $index) {
        <div (click)="viewProduct(popularProduct._id)"
            class="card rounded-lg m-8 cursor-pointer flex-shrink-0 w-[300px]">
            <img class="w-full h-[250px] object-cover rounded-t-3xl" [src]="popularProduct.img" alt="">
            <div class="flex justify-between items-center rounded-b-3xl bg-neutral-800 p-4">
                <div class="flex flex-col">
                    <h1 class="text-xl">{{popularProduct.name}}</h1>
                    <p class="text-sm">{{popularProduct.createdBy?.name}}</p>
                </div>
                <h6 class="text-xl">{{popularProduct.price | currency: 'INR'}}</h6>
            </div>
        </div>
        }
    </div>
</div>